.button {    
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 13px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  background-color: $red;
}

.button_red:hover {
  background-color: $darkred;
}

.button_black {
  background-color: $darkgray;
  
  &:hover {
    background-color: #1f2122;
  }
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;  

  &:active, &:focus {
    outline: none;
    border: 0;
  }
}

.form__line button[type="submit"] {
  margin-right: 20px;
}

.form__line button[type="reset"] {
  background-color: transparent;
  font-weight: 300;
  color: #fff;
}