.map-container {
  background: url(../img/map-background.jpg)  center center / cover no-repeat;
  height: 100%;
  position: relative;
}
.footer {
  position: absolute;
  bottom: 0;
  left:0;
  right:0;
  padding: 15px 0;
  background-color: #0d0d0d;
  font-size: 14px;

  @include phones {
    text-align: center;  
    padding: 20px 0; 
  }
}
.footer-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-content: center;

  @include phones {
    flex-direction: column;    
  }
}
.footer__item {
  width: 50%;

  @include phones {
    width: 100%;
  }
}
.footer__contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer__address {
  font-weight: 300;
  color: #fff;
  margin-top: -6px;
  margin-bottom: 10px;
}
.footer__phone-container {
  display: flex;
  justify-content: flex-start;

  @include phones {
    justify-content: center; 
    padding-bottom: 20px;   
  }
}
.footer__phone-icon {
  margin-right: rem(8px);

  svg {
    width: 12px;
    height: 11px;
  }
}
.footer__phone {
  font-weight: 700;
  color: #e45028;  
}
.footer__social {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;

  @include phones {
    justify-content: center;   
    padding-top: 0; 
  }
}
.social-item {
  width: 20px;
  height: 20px;
  margin-right: 20px;

  a {
    text-decoration: none;
    border:0;
  }
  
  &:last-child {
    margin-right: 0;
  }
  &:hover, &:active {
    fill: #fff;
  }
}
