.fixed-dots {
  position: fixed;
  top:0;
  right:0;  
  margin-top: 95px;
  margin-right: 55px;
}
.fixed-dots__list {
  display: block;
  list-style-type: none;
  padding: 0;

  li {
    position: relative;
    margin-bottom: 15px;
  }

  a {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 6px;
    height: 6px;    
    padding: 0;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
    color: transparent;
    outline: none;
    z-index: 99999999;

    &:hover:before {
      content: '';
      display: block;
      position: absolute;
      width: 14px;
      height: 14px;
      margin: -5px 0 0 -5px;
      border-radius: 50%;
      border: 1px solid #fff;
    }
  }
}

