.fixed-dots {
  position: fixed;
  top:0;
  right:0;  
  margin-top: rem(95px);
  margin-right: rem(55px);

  @include tablets {
    display: none;
  }
}
.fixed-dots__list {
  display: block;
  list-style-type: none;
  padding: 0;

  li {
    position: relative;
    margin-bottom: rem(15px);
  }

  a {
    font-size: 0;
    line-height: 0;
    display: block;
    width: rem(6px);
    height: rem(6px);    
    padding: 0;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
    color: transparent;
    outline: none;
    z-index: 99999999;

    &:hover:before {
      content: '';
      display: block;
      position: absolute;
      width: rem(14px);
      height: rem(14px);
      margin: rem(-5px) 0 0 rem(-5px);
      border-radius: 50%;
      border: rem(1px) solid #fff;
    }
  }
}

