.hero-section {    
  background: url(../img/header-background.jpg) center center / cover no-repeat;
}
.hero__menu {
  display: flex;
  align-items: center;
  justify-content: space-between;  
  padding-top: 12px;
}
.hero__menu-container {
  display: flex;   
  align-items: center;
  margin-top:-5px;    
}
.hero__navigation {
  margin-right: 15px;
}
.hero__list {
  display: flex;   
  align-items: center;
  padding: 0;  
  list-style-type: none;

  li {
    display: flex;  
    align-items: center;  
    
    &:after {
      content: '';    
      width: 5px;
      height: 5px;
      margin: 0 15px;
      background-color: #fff;
      border-radius: 50%;
    }

    &:last-child {
      &:after {
        display: none;
      }
    }
  }
}
.hero__link {
  font-size: 13px;
  font-family: 'Ubuntu Medium';
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}
.hero__container {
  display: flex;
  flex: .75;
}
.hero__content {
  display: flex;
  align-items: center;  
}
.hero__burger {
  margin: -8px 10px 0 20px;
}
.hero__text {
  margin-top: 70px;
}
.hero__title2 {
  font-family: 'Lifehack-Medium';
  font-size: 63px;
  color: #fff;  
}