html {
  height: 100%;
  font-size: 16px;

  @include tablets {
    font-size:15px;
  }

  @include phones {
    font-size:14px;
  }
}
body {
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  color: $darkgray;
  background-color:#f2f2f2;
}
.section {
  height: 100vh;
  min-height: rem(650px);

  @include phones {
    min-height: rem(600px);
  }
}

.container {
  width: 100%;
  max-width: 940px;  
  height: 100%;
  margin: 0 auto;  
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  &_without-align {    
    justify-content: initial;
  }

  @include tablets {
    padding: 0 rem(25px);
  }

  @include phones {
    padding: 0 10px;
  }
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}
* {
  box-sizing: border-box;
}
h1, h2 {
  margin: 0;
  font-weight: normal;   
}
p {
  margin: 0;
  padding: 0;  
}
ul {
  margin: 0;
  padding: 0;
  
  li {
    list-style: none;
  }
}
.main-arrow {
  position: absolute;    
  bottom: 0;
  margin: 0 auto rem(40px);
  left:0;
  right:0;  
  width: 29px;
  height:14px;
  cursor: pointer; 

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

