.menu-section {
    background: url(../img/menu-background.jpg) center center / cover no-repeat;
    padding: rem(110px);
    position: relative;

    @include tablets {
        padding: rem(100px) rem(25px);
    }

    @include phones {
    padding: rem(50px) rem(60px);
    }
}

.menu__accordeon {
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    display: flex;
    justify-content: flex-end;
}
.menu__title {  
    background: center center / cover no-repeat;  
    width: rem(80px);
    height: 100%;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
    cursor: pointer;
}
.menu__title span {   
    position: absolute;
    display: inline-block;
    bottom: rem(-25px);
    right:0;
    left:0;
    transform: rotate(-90deg);
    transform-origin: 0 0;
    font-family: 'Gagalin-Regular';
    font-size: rem(40px);  
    line-height: 1.7;
    text-transform: uppercase;
    color: #fff;
    white-space: nowrap;   
    
    @include phones {
        bottom: 0;
    }
}
.menu__desc {
    display: none;
    width: 0;
    font-family: 'Ubuntu Light';
    font-size: rem(14px);
    line-height: 1.75;
    color: #fff;
}

.menu__item {
    display: flex;

    &_active {

        span {
            color: $yellow;
        }

        .menu__desc {
            width: rem(540px);
            padding: rem(60px) rem(35px);
            visibility: visible;
            display: block;
            background-color: rgba($color: $darkgray, $alpha: 0.93);
        }
    }       
}

