.order-section {
  background: url(../img/order-background.jpg) center center / cover no-repeat;
  font-size: 14px;

  .container {
    width: 100%;
    max-width:960px;
  }
  .title {
    margin-bottom: rem(41px);
  }  
}

.order-form {
  display: flex;    
  @include tablets {
    flex-direction: column;
  }
}

.form__column {
  width: 50%;
  padding: 0 rem(10px); 
  
  @include tablets {
    width: 100%;
    max-width: 470px;
    margin: 0 auto;
    padding: 0;
  } 
}
.form__line {  
  display: flex;
}
.form__block {
  margin-bottom: 20px;
  margin-right:rem(20px); 
  width: 100%;

  &:last-child {
    margin-right:0;    
  }
}
.form__block {
  width: 100%;
}
.order-form textarea {
  height: 110px;
}
.order-form input, 
.order-form textarea {
  width: 100%;
  border: 1px solid #fff;
  border-radius: 5px;
  font-weight: 300;
  color: $darkgray;
	padding: 8px 20px;
	background: #fff;
  
  &:focus {
    outline: none;
    border: 1px solid $yellow;
  }
}

.form__block-title {
  display: block;
  font-weight: 300;
  color: #fff;
  margin-bottom: 8px;  
  
  &_radio {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0;
    margin-left: 8px;   
  }
}

input[type="radio"], input[type="checkbox"]  {
  display: none;
}
.form__line .form__block_radio {
  width: auto;
  cursor: pointer;
  margin-right: 20px;

  @include phones {
    margin-right: 7px;  
  }

  &:last-child {
    @include phones {
      margin-left: 7px;
      margin-right: 0;  
    }
  }
}

.form__radio-title {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0;
  margin-left: 8px;
}
.form__new-radio {
  display: inline-block;
  vertical-align: middle;
  width: 15px;
  height: 15px;
  background-color: #fff;
  border-radius: 50%;
  position: relative;
}

.form__line_radio {
  margin-top: -5px;
  margin-bottom: 7px;

  @include phones {
    justify-content: center;
    margin-bottom: 20px;
  } 
}

.form__new-radio:after {
  content: '';
  display: block;
  width: 7px;
  height: 7px;
  position: absolute;
  top: 4px;
  left: 4px;
  background-color: $red;
  border-radius: 50%;  
  opacity: 0;
}

input[type="radio"]:checked + .form__new-radio:after {
  opacity: 1;
}

.form__line_checkbox {
  @include phones {
    text-align: center;
  }
}
.form__block_checkbox {
  cursor: pointer;

  @include tablets {
    margin-bottom: 43px;
  } 
}

.form__new-checkbox {
  display: inline-block;
  vertical-align: middle;
  width: 15px;
  height: 15px;
  background-color: #fff;
  position: relative;
}

.form__new-checkbox:after {
  content: '';
  display: block;
  width: 9px;
  height: 5px;
  position: absolute;
  top: 2px;
  left: 2px;
  border-left: 2px solid $red;
  border-bottom: 2px solid $red;  
  transform: rotate(-45deg);  
  opacity: 0;
}

input[type="checkbox"]:checked + .form__new-checkbox:after {
  opacity: 1;
}

.form__flat {
  @include phones {
    margin-right: 0;
  } 
}

.form__floor {
  @include phones {
    display: none;
  } 
}

.form__block_textarea {
  @include phones {
    margin-bottom: 40px;
  } 
}
.form__line_btn {
  @include phones {
    justify-content: center;
  } 
}