.review-section {
  background-color: black;  
}

.review-list {
  display: flex;
  flex-wrap: wrap;
  height: 100%; 
}

.review-list__item {
  width: 25%;
  height: 50%;  
  position: relative;
  color: #fff;
  background: center center / cover no-repeat;
  filter: grayscale(100%);

  @include tablets {
    width: 50%;
    height: 25%;;
  }

  &:hover {
    .review-list__hover {
      opacity: 1;
      transform: scale(1);
    }
  }
}

.review-list__hover {
  position: absolute;
  top:0;
  right: 0;
  bottom: 0;
  left:0;  
  background: rgba($color: #000000, $alpha: .5);
  opacity: 0;  
  padding: rem(50px) rem(20px);   
  transform: scale(.8);
 
  @include tablets {
    padding: rem(30px) rem(20px);   
    text-align: center;
  }

  @include phones {
    padding: rem(50px) rem(20px);   
  }
}

.review-list__name {
  font-size: 14px;
  font-family: 'Gagalin';
  line-height: 1.4;
  margin-bottom: rem(15px); 
  
  @include phones {
   font-size: rem(24px);
  }
}

.review-list__text {
  margin-bottom: rem(20px);
  p {
    font-weight: 300;
    line-height: 1.75;
  }

  @include phones {
    display: none;
   }
}

