.team-section {
  background: url(../img/team-background.jpg) center center / cover no-repeat;
  position: relative;

  @include tablets {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.team__block {
  position: absolute;
  top:0;
  right:0;
  width: rem(540px);
  height: 100%;
  background: rgba($color: $darkgray, $alpha: .93);
  
  @include tablets {
    width: 100%;
  }
}
.team__content {
  padding: rem(100px);
}
.team__accordeon {
  margin-top: rem(42px);

}
.team__item {
  margin-bottom: 34px;
  padding-left: 17px;

  @include tablets {
    padding-left: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &:before {
    content: '';
    position: absolute;
    border: 5px solid transparent;	
    border-top: 7px solid $yellow;
    margin-top:5px;
    margin-left: -20px;
    cursor: pointer;
    text-align: left;

    @include tablets {
      margin-top:10px;
      margin-left: 0;
    }
  }

  &_active {
    color: $yellow;

    &:before {
      content: '';
      position: absolute;
      border: 5px solid transparent;	
      border-bottom: 7px solid $yellow;
      margin-top: -3px;
      margin-left: -20px;
      cursor: pointer;

      @include tablets {
        margin-top:2px;
        margin-left: 0;
      }
    }    
    .team__name {
      color:$yellow;
    }
    .team__info {
      padding: 20px 0 5px;
      height: 100%;
      overflow: visible;

      @include tablets {
        width: 60%;
        margin: 0 auto;
        padding: 15px 0 0;
      }

      @include phones {
        width: 100%;
        margin: 0 auto;
        padding: 15px 0 0;
      }
    }
  }
}
.team__name {
  font-family: 'Gagalin';
  color:#fff;
  text-transform: uppercase;
  position: relative;  
  cursor: pointer;

  @include tablets {
    font-size: rem(30px);
    display: inline-block;
    margin-left: 20px;
  }
}
.team__info {
  font-size: 14px;
  display: flex;
  align-content: space-between;
  height: 0;
  overflow: hidden;

  @include tablets {
    flex-direction: column;
  }
}
.team__photo {
  width:100px;
  min-width: 100px;
  height: 100px;
  border-radius: 50px;
  margin-right: rem(15px);
  background: center center / cover no-repeat;

  @include tablets {
    margin: 0 auto 20px;
  }
}

.team__job {
  margin-bottom: rem(15px);
  font-weight: 700;
  color:#fff;
}
.team__quote {
  font-weight: 300;
  color:#fff;
  line-height: 1.75;
}
