.title {
  font-family: 'Gagalin';
  font-size: rem(72px);  
  margin-bottom: rem(20px);
  text-transform: uppercase;
  color: $yellow;
  line-height: 1.2;

  &_black {
    color: $darkgray;
  }
  &_white {
    color: #fff;
  }
  &_centered {
    text-align: center;
  }
}



.hero-section .title {
  font-size: 72px;
  margin-bottom: 20px;

  @include phones {
    font-size: rem(91px);
  }

}
.best-section .title {
  margin-bottom: rem(45px);

}




