.title {
  font-family: 'Gagalin';
  text-transform: uppercase;
  color: $yellow;
  line-height: 1.2;

  &_black {
    color: $darkgray;
  }
  &_white {
    color: #fff;
  }
  &_centered {
    text-align: center;
  }
  span {
display: block;
  }
}

.main__title {
  font-size: rem(72px);
  margin-bottom: rem(20px);
}

.section__title {
  font-size: rem(72px);  
  margin-bottom: rem(20px);

  @include phones {
    font-size: rem(57px);  
  }
}

.best-section .title {
  margin-bottom: rem(45px);

  @include tablets {
    margin-top: rem(-100px);
  }
  @include phones {
    margin-top: rem(-30px);
    margin-bottom: rem(25px);
  }
}

.team-section .title {
  @include tablets {
    margin-top: rem(110px);
  }
  @include phones {
    margin-top: rem(40px);
  }
}

.menu-section .title {
  @include tablets {
    margin-left: rem(-80px);
    margin-top: rem(10px);
   }
  @include phones {
   margin-left: rem(-40px);
   margin-top: rem(-40px);
  }
}

.order-section .title {
  @include tablets {
    margin-top: rem(-120px);
   }
   @include phones {
    margin-top: 0;
   }
}

.burgers-section .title {
  line-height: 0.9;
  margin-bottom: rem(45px);
  // margin-top: rem(-20px);
  
  @include tablets {
    text-align: center;
    margin-bottom: rem(50px);    
  }

  @include phones {
    margin-bottom: rem(30px);
    padding: 0 rem(70px);
   }
}




