.title {
  font-family: 'Gagalin-Regular';
  font-size: 72px;  
  margin-bottom: 20px;
  text-transform: uppercase;
  color: $yellow;

  &_black {
    color: $darkgray;
    margin-bottom: 50px;
    text-align: center;
  }
}